In [1]:
import random 

val=random.randint(1,10)
choice = random.choice(['apple','mango','banana','cherry','muskmelon','grapes','watermelon','papaya','kiwi','peach'])
print(choice)
print(val)

apple
4

In [2]:
import os
print(os.getcwd())

/home/shubhankar/genAI/Functions_in_Python

In [3]:
os.mkdir("Dump-Folder")

In [4]:
os.rmdir("Dump-Folder")

In [7]:
# High level file based operations!

import shutil

shutil.copy("source.txt","destination.txt")

'destination.txt'

In [10]:
# Data Serialization & Deserialization
import json
data={"Name":"Shubhankar","Age":23}
json_str=json.dumps(data)

print(json_str)
print(type(json_str))

parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"Name": "Shubhankar", "Age": 23}
<class 'str'>
{'Name': 'Shubhankar', 'Age': 23}
<class 'dict'>

In [13]:
# CSV

import csv

with open('example.csv',mode='w',newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name',"Age","Experience"])
    writer.writerow(["Test Agent",101,90])

with open('example.csv',mode='r',newline='') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'Experience']
['Test Agent', '101', '90']

In [16]:
import pandas as pd

df = pd.read_csv('example.csv')
df

         Name  Age  Experience
0  Test Agent  101          90

In [37]:
# Date time
from datetime import datetime,timedelta
current_time = datetime.now()
print(current_time)
    
yesterday = current_time-timedelta(days=1)
print(yesterday)

2024-08-01 12:53:44.764225
2024-07-31 12:53:44.764225

In [35]:
import time
import math
start = time.time()

def calculate(a,b,op):
    if op == '+':
        return a+b
    elif op == '-':
        return Math.abs(a-b)
    elif op == '*':
        return a*b
    elif op == '/':
        return a/b
    else:
        print("Invalid operator!!!")

a = int(input())
b = int(input())
op = input()

ans = calculate(a,b,op)
print(ans)

end = time.time()

print(end-start)

30
5.847991466522217

In [46]:
# Regular Expression

import re 

text = "There are some apples in the room,some where around 2030"
pattern=r'\d+'
match=re.search(pattern,text)
print(match.group())

2030